<%= stylesheet_link_tag 'usersTop', media: 'all', 'data-turbo-track': 'reload' %>
<h1>ようこそSAMPLE_SNSへ</h1>
<%= link_to("ログイン", new_user_session_path) %>
<%= link_to("アカウント作成", new_user_registration_path) %>
<%= link_to("ゲストユーザ","/posts/index") %>