<%= stylesheet_link_tag 'postsIndex', media: 'all', 'data-turbo-track': 'reload' %>
<h1>ユーザ投稿一覧ページ</h2>
<% @posts.each do |post| %>
    <p>タイトル</p>
    <span><%= post.title %></span>
    <p>本文</p>
    <span><%= post.content %></span>
<% end %></br>
<%= link_to("戻る", root_path) %>